<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Create User</h1>

<form th:action="@{/users}"
      th:object="${userCreateDto}"
      method="post">

    <div>

        <label>Full Name:</label>

        <input type="text"
               th:field="*{fullName}">

        <div style="color:red"
             th:if="${#fields.hasErrors('fullName')}"
             th:errors="*{fullName}">
        </div>

    </div>

    <br>

    <div>

        <label>Email:</label>

        <input type="email"
               th:field="*{email}">

        <div style="color:red"
             th:if="${#fields.hasErrors('email')}"
             th:errors="*{email}">
        </div>

    </div>

    <br>

    <button type="submit">
        Save
    </button>

</form>

<br>

<a th:href="@{/users}">
    Back
</a>

</body>
</html>